<% include ../templates/head.ejs %>
<section>
  <div class="row">
    <div class="my-3 col-md">
      <h2 class="h5">고객에게 노출되는 필터를 적용시킬 수 있습니다.</h2>
    </div>
  </div>
  <div class="bg-white" >
    <div class="card" style="margin-bottom: 20px;">
      <form id="editForm">
        <table class="table table-striped">
          <thead><tr><th>필터 리스트</th></tr></thead>
          <% let filters = filterItems.filters%>
          <% for(var i=0; i<filters.length; i++){
              var filter = filters[i];
              var itemName = "filter_"+filter.fieldName;
          %>
            <tbody class="form-group">
              <tr><td><%=filter.title%></td></tr>
              <tr><td>
              <% for (var j=0; j<filter.items.length; j++){
                  var item = filter.items[j];
                %>
                <label class="tag" for="<%=itemName%>_<%=j%>">
    							<input type="checkbox" <%=(store[itemName].includes(j)) ? "checked" : null%> id="<%=itemName%>_<%=j%>" name="<%=itemName%>" value="<%=j%>">
    							<div class="btn btn-round btn-sm btn-outline-default">
    								<%=item%>
    							</div>
    						</label>
              <% }%>
              </td></tr>
            </tbody>
          <% }%>
          <tbody>
            <tr><td>
              <a href="./detail?storeId=<%=store.id%>" class="btn btn-outline-default">이전으로</a>
              <button id="editButton" type="button" class="btn btn-primary">저장</button>
            </td></tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</section>
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#editButton').click(function(){
    var store =  $('#editForm').serializeObject();
    $.ajax({
      type:"PUT",
      url:'/stores/<%=store.id%>',
      data:store,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
<script>
$(document).ready(function(){
  $('.sidebar .nav .active').removeClass('active');
  var path = "filters" ;
  $('#'+path).addClass('active');
})
</script>
