<!doctype html>
<html lang="ko">
  <head>
    <title><%=title%></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="/stylesheets/owners.style.css" rel="stylesheet"/>

    <style>
      section{
        min-height: 200vh;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <div class="sidebar-header">
          말랑 <!-- 로고 이미지 자리 -->
        </div>
        <ul class="nav flex-column">
          <li id="dashboard" class="nav-item">
            <a class="nav-link" href="/owners/dashboard">대시보드</a>
          </li>
          <li id="reservations" class="has-sub nav-item">
            <a class="nav-link">
              <i class="ti-user"></i>
              예약조회
            </a>
            <ul class="nav sub-nav">
              <li id="reservations-daily">
                <a class="nav-link" href="/owners/reservations/daily?type=monthly&storeId=<%=store.id%>">
                  <p>예약 달력</p>
                </a>
              </li>
              <li id="reservations-list">
                <a class="nav-link" href="/owners/reservations/list?storeId=<%=store.id%>">
                  <p>예약 내역 </p>
                </a>
              </li>
              <li id="reservations-usage">
                <a class="nav-link" href="/owners/reservations/usage?storeId=<%=store.id%>">
                  <p>이용내역</p>
                </a>
              </li>
              <li id="reservations-cancel">
                <a class="nav-link" href="/owners/reservations/cancel?storeId=<%=store.id%>">
                  <p>취소 내역</p>
                </a>
              </li>
            </ul>
          </li>
          <li id="programs" class="nav-item">
            <a class="nav-link" href="/owners/programs/list?storeId=<%=store.id%>">프로그램 관리</a>
          </li>
          <li id="stores" class="nav-item">
            <a class="nav-link" href="/owners/stores/detail?storeId=<%=store.id%>">승마장 정보 관리</a>
          </li>
          <li id="statistics" class="nav-item">
            <a class="nav-link" style="font-style: italic;">통계</a>
          </li>
          <li id="statistics-reservation" class="nav-item">
            <a class="nav-link"  href="/owners/statistics/reservations?storeId=<%=store.id%>"> -예약분석</a>
          </li>
          <li id="statistics-customer" class="nav-item">
            <a class="nav-link"  href="/owners/statistics/customers?storeId=<%=store.id%>"> -고객분석</a>
          </li>
          <li id="calculations" class="nav-item">
            <a class="nav-link" style="font-style: italic;">정산내역</a>
          </li>
          <li id="calculations-index" class="nav-item">
            <a class="nav-link" href="/owners/calculations?storeId=<%=store.id%>"> -정산내역 조회</a>
          </li>
          <li id="calculations-vat" class="nav-item">
            <a class="nav-link" href="/owners/calculations/vat?storeId=<%=store.id%>"> -부가세 신고 내역</a>
          </li>
          <li id="calculations-tax" class="nav-item">
            <a class="nav-link" href="/owners/calculations/tax?storeId=<%=store.id%>"> -세금 계산서 조회</a>
          </li>
          <li id="calculations-info" class="nav-item">
            <a class="nav-link" href="/owners/calculations/info?storeId=<%=store.id%>"> -정산 정보</a>
          </li>
          <!-- <li id="qnas" class="nav-item">
            <a class="nav-link" href="/owners/qnas/list?storeId=<%=store.id%>">문의관리</a>
          </li> -->
          <li id="reviews" class="nav-item">
            <a class="nav-link" href="/owners/reviews/list?storeId=<%=store.id%>">이용후기 관리</a>
          </li>
          <li id="notices" class="nav-item">
            <a class="nav-link" href="/owners/notices/list?storeId=<%=store.id%>">전체 공지사항</a>
          </li>
          <li id="noticeOwners" class="nav-item">
            <a class="nav-link" href="/owners/noticeOwners/list?storeId=<%=store.id%>">가맹점 공지사항</a>
          </li>

        </ul>
        <ul class="nav flex-column">
          <li class="nav-item">
            <span>Admin</span>
          </li>
          <li class="nav-item">
            <a class="nav-link active">작업내역</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">소셜</a>
          </li>
        </ul>
      </div>
      <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container-fluid">
            <a class="navbar-brand" href="/"><%=store.storename%></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
