<% include ../templates/head.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">공지사항
              <!-- <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#createModal" data-backdrop="false">
              만들기
              </button> --></h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">승마장 등록</h4>
                </div>
                <div class="modal-body">
                  <div class="content">
                    <form id="createForm" action="/noticeOwners" method="POST">
                      <div class="row">
                        <% var keys = Object.keys(schema);

                       for(var j=0; j< keys.length; j++){
                         if(keys[j]=="__v" || keys[j]=="_id" || keys[j].includes("deleted") || keys[j].includes("_at") ) continue;%>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label><%=keys[j]%></label>
                            <input name="<%=keys[j]%>" type="text" class="form-control" placeholder="<%=keys[j]%>" value="">
                          </div>
                        </div>

                      <% } %>
                      </div>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="createButton">저장</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead class="thead-control">
                <th>전체보기</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <!-- <th>ID</th>
                <% var keys = Object.keys(schema); %>

                <th>공지제목</th>
                <th>공지내용</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>수정일</th> -->

              </thead>
              <tbody class="tbody-control">
                <% %>
                <% for(var i=0; i<noticeOwners.length; i++){
                  var noticeOwner = noticeOwners[i];
                  %>
                  <tr>
                    <td><%=i%></td>

                    <td><a href="/owners/noticeOwners/detail/<%=noticeOwner.id%>"><%=noticeOwner['noticeTitle']%></a></td>
                    <td><%=noticeOwner['noticeText']%></td>
                    <td><%=(noticeOwner['noticeWriter'] != null) ? noticeOwner['noticeWriter'].username : noticeOwner['noticeWriter']%></td>
                    <td><%=noticeOwner['created_at']%></td>
                    <td><%=noticeOwner['updated_at']%></td>

                  </tr>
                <% }%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var noticeOnwer =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/noticeOwners',
      data:noticeOwner,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var noticeOwnerId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/noticeOwners/'+noticeOwnerId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
