<% include ../templates/header.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title"><%=title%>
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#createModal" data-backdrop="false">
              만들기
              </button>
            </h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>

          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>번호</th>
                <th>분류</th>
                <th>이름</th>
                <th>별명</th>
                <th>이메일</th>
                <th>연락처</th>
                <th>가입일</th>
              </thead>
              <tbody>
                <% %>
                <% for(var i=0; i< members.length; i++){
                  var  member =  members[i];
                  %>
                  <tr>
                    <td><%=member.userNo%></td>
                    <td><%=member.userRole%></td>
                    <td><%=member.userName%></td>
                    <td><a href="detail/<%=member.userNo%>"><%=member.nickname%></a></td>
                    <td><%=member.email%></td>
                    <td><%=member.PhoneNumber%></td>
                    <td><%=moment(member.createDate).format("YYYY-MM-DD")%></td>
                  </tr>
                <% }%>
              </tbody>
            </table>
          </div>
        </div>

        <!--new-->

        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var  member =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/ members',
      data: {
         member:  member
      },
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var  memberId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/ members/'+ memberId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
