<% include ../../templates/head.ejs %>
<section style="padding-top: 60px; background-color: #fafafa;">
<div class="container">
  <h2 class="my-3">내 예약</h2>
  <div class="card mb-6">
    <div class="card-header">
      <%=reservations.length%>개의 예약이 있습니다.
    </div>
    <ul class="list-group list-group-flush">
      <% for(var i=0; i<reservations.length; i++){
        var reservation = reservations[i];
      %>
        <li class="list-group-item">
          <div class="media">
            <div class="media-body">
              <small class="float-right"><%=reservation.reservationDate.getFullYear()%>년 <%=(reservation.reservationDate.getMonth()+1)%>월 <%=reservation.reservationDate.getDate()%>일</small>
              <h5 class="mt-0"><%=reservation.program.programname%></h5>
              <p><%=reservation.store.storename%><p>
            </div>
          </div>
        </li>
      <% }%>
    </ul>
  </div>
</div>
</section>
<% include ../../templates/bottom.ejs %>
