<% include ../templates/head.ejs %>
<div class="container" style="padding-top: 60px;">
  <h2 class="my-3">내 예약</h2>
  <div class="card">
    <div class="card-header">
      <%=reservations.length%>개의 예약이 있습니다.
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <form>
          <div class="form-group">
            <label for="reservationTitle">예약 남기기</label>
            <input type="text" class="form-control" id="reservationTitle" name="reservationTitle" placeholder="댓글 제목">
            <textarea class="form-control" id="reservationText" name="reservationText" placeholder="댓글 내용"></textarea>
          </div>
          <button id="reservationButton" type="button" class="btn btn-primary">작성</button>
        </form>
      </li>
      <% for(var i=0; i<reservations.length; i++){
        var reservation = reservations[i];
      %>
        <li class="list-group-item bg-light">
          <div class="media">
            <div class="media-body">
              <small class="float-right"><%=reservation.reservationDate.getFullYear()%>년 <%=(reservation.reservationDate.getMonth()+1)%>월 <%=reservation.reservationDate.getDate()%>일</small>
              <h5 class="mt-0"><%=reservation.program.programname%></h5>
              <p><%=reservation.reservationText%><p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <form>
            <div class="form-group">
              <label for="reservationTitle">댓글 달기</label>
              <input type="text" class="form-control" id="reservationTitle" name="reservationTitle" placeholder="댓글 제목">
              <textarea class="form-control" id="reservationText" name="reservationText" placeholder="댓글 내용"></textarea>
            </div>
            <input type="hidden" name="parent" value="<%=reservation.id%>">
            <button class="replyButton" type="button" class="btn btn-primary">작성</button>
          </form>
        </li>

      <% }%>
    </ul>
  </div>
</div>
<% include ../templates/bottom.ejs %>
