<% include ../templates/head.ejs %>
<section style="background-color: #fafafa; padding-top: 70px;">
<div class="container">
  <p class="text-center"><span class="fa fa-map-marker text-primary"></span> 서울시 마포구 대흥동</p>
  <div class="row">
      <% for(var i=0; i<stores.length; i++){
      var store = stores[i];
      %>
      <div class="col-sm-12">
        <%var date = new Date();%>
        <%var dateString = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()%>
        <div class="card mb-3 container-fluid" style="cursor:pointer;" onClick="location.href='/customers/stores/<%=store._id%>?userId=<%=user.id%>&date=<%=dateString%>'">
          <div class="row">
            <div class="card-body col-4 pr-0">
              <div style="height: 100%; background-color:rgba(0,0,0,0.1); background-image: url('<%=store.image%>'); background-position: center; background-size: cover;"></div>
              <span class="badge badge-secondary" style="position: absolute; top:2rem; right: 1rem;"><%=store.score%></span>
            </div>
            <div class="card-body col-8" style="min-height: 200px;">
              <h4 class="card-title"><%=store.storename%></h4>
              <p class="card-text mb-5"><%=store.address%>
                <br>
                <small class="text-success">
                  <span class="fa fa-location-arrow "></span> 1.3km <%=store.distance%>
                </small>
              </p>
              <% for(var j=0; j<store.programs.length; j++){
                if(j > 1) break;
                var program = store.programs[j];
              %>
                <div class="card-text text-right">
                  <h5 class="card-title"><span class="small text-muted"><%=program.programname %> </span><%=program.carrots%>캐럿</h5>
                </div>
              <% }%>
            </div>
          </div>
        </div>
        </a>
      </div>
    <% }%>
  </div>
</div>
</section>
<% include ../templates/bottom.ejs %>
