<% include ../templates/head.ejs %>
<div class="container" style="padding-top: 60px;">
  <h2 class="my-3">문의 관리</h2>
  <div class="card">
    <div class="card-header">
      <%=qnas.length%>개의 문의가 있습니다.
    </div>
    <ul class="list-group list-group-flush">
      <% for(var i=0; i<qnas.length; i++){
        var qna = qnas[i];
      %>
        <li class="list-group-item">
          <div class="media">
            <div class="media-body">
              <small class="float-right"><%=qna.qnaWriter.username%>님, <%=qna.created_at.getFullYear()%>년 <%=(qna.created_at.getMonth()+1)%>월 <%=qna.created_at.getDate()%>일</small>
              <h5 class="mt-0"><%=qna.qnaTitle%></h5>
              <p><%=qna.qnaText%><p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <form>
            <div class="form-group">
              <label for="qnaTitle">댓글 달기</label>
              <input type="text" class="form-control" id="qnaTitle" name="qnaTitle" placeholder="댓글 제목">
              <textarea class="form-control" id="qnaText" name="qnaText" placeholder="댓글 내용"></textarea>
            </div>
            <input type="hidden" name="parent" value="<%=qna.id%>">
            <button class="replyButton" type="button" class="btn btn-primary">작성</button>
          </form>
        </li>
        <% for(var j=0; j<qna.replies.length; j++){%>
        <% var reply = qna.replies[j];%>
          <li class="list-group-item bg-light">
            <div class="media">
              <small class="mr-3">댓글</small>
              <div class="media-body">
                <small class="float-right"><%=reply.qnaWriter.username%>님, <%=reply.created_at.getFullYear()%>년 <%=(reply.created_at.getMonth()+1)%>월 <%=reply.created_at.getDate()%>일</small>
                <h5 class="mt-0"><%=reply.qnaTitle%></h5>
                <p><%=reply.qnaText%><p>
              </div>
            </div>
          </li>
        <% }%>

      <% }%>
    </ul>
  </div>
</div>
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('.replyButton').click(function(){
    var form = $(this).closest('form');
    var qna =  form.serializeObject();
    qna.store = '<%=store.id%>';

    qna.qnaWriter = '<%=store.owner%>';
    if(qna.qnaWriter =='') qna.qnaWriter = '59e46a7acfd9ae07de8d69f0';
    qna.qnaType="reply";

    $.ajax({
      type:"POST",
      url:'/qnas',
      data:qna,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  // $('.deleteButton').click(function(){
  //   var qnaId = $(this).data("item");
  //   $.ajax({
  //     type:"DELETE",
  //     url:'/qnas/'+qnaId,
  //
  //     success:function(args){
  //       alert("성공했습니다.");
  //       location.reload();
  //     },
  //     error:function(e){
  //         alert(e.responseText);
  //     }
  //   });
  // });
});
</script>
