<% include ../templates/head.ejs %>

<section>
  <div class="container-fluid">
    <p class="mb-3 subtitle">승마장의 정산내역 정보를 확인할 수 있습니다</p>
  </div>

  <div class="card">
    <div class="card-body">
      <form action="" method="get">
         <input type="hidden" name="storeNo" value="<%=store.storeNo%>"><!--필수-->
         <%
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();

              if(dd<10) {
                dd='0'+dd
                }
              if(mm<10) {
                mm='0'+mm
                }

                today = yyyy + '-' +mm + '-' +dd;
          %>
          <!--검색파트css : search_opt, search_btn, search_submit -->
          <div style="margin-left: 3%; margin-right: 3%; font-size: 80%; font-color: #434343;">
            <!--날짜 검색 테이블-->
            <div class="row">
              <div class="col-md-1">정산예정일</div>
              <div class="col-md-5 search_cal_group">
                 <input type="date" name="calculationDueDateMin" class="search_calendar" value="<%=query.calculationDueDateMin%>">
                 <span style="margin-right:5px; margin-left: 5px;">ㅡ</span>
                 <input type="date" name="calculationDueDateMax" class="search_calendar" value="<%=query.calculationDueDateMax%>">
              </div>
              <div class="col-md-1">정산완료일</div>
              <div class="col-md-5 search_cal_group">
                 <input type="date" name="calculationDateMin" class="search_calendar" value="<%=query.calculationDateMin%>">
                 <span style="margin-right:5px; margin-left: 5px;">ㅡ</span>
                 <input type="date" name="calculationDateMax" class="search_calendar" value="<%=query.calculationDateMax%>">
              </div>
            </div>

            <hr class="search_hr">
            <!--조건 검색 테이블-->
            <div style="color: #7d7d7d; margin-bottom: 15px; font-size: 80%;">상세조건검색</div>
            <div class="row" style="margin-bottom: 1.5%;">
              <div class="col-md-1">정산년도</div>
              <div class="col-md-3">
                <select name="calculationYear" class="form-control search_key">
                  <option value="2020" <%=(query.calculationYear == "2020") ? "selected" : "" %>>2020</option>
                  <option value="2019" <%=(query.calculationYear == "2019") ? "selected" : "" %>>2019</option>
                  <option value="2018" <%=(query.calculationYear == "2018") ? "selected" : "" %>>2018</option>
                  <option value="2017" <%=(query.calculationYear == "2017") ? "selected" : "" %>>2017</option>
                  <option value="2016" <%=(query.calculationYear == "2016") ? "selected" : "" %>>2016</option>
                </select>
              </div>
              <div class="col-md-1">정산월</div>
              <div class="col-md-3">
                <select name="calculationMonth" class="form-control search_key">
                  <option value="1" <%=(query.calculationMonth == "1") ? "selected" : "" %>>1</option>
                  <option value="2" <%=(query.calculationMonth == "2") ? "selected" : "" %>>2</option>
                  <option value="3" <%=(query.calculationMonth == "3") ? "selected" : "" %>>3</option>
                  <option value="4" <%=(query.calculationMonth == "4") ? "selected" : "" %>>4</option>
                  <option value="5" <%=(query.calculationMonth == "5") ? "selected" : "" %>>5</option>
                  <option value="6" <%=(query.calculationMonth == "6") ? "selected" : "" %>>6</option>
                  <option value="7" <%=(query.calculationMonth == "7") ? "selected" : "" %>>7</option>
                  <option value="8" <%=(query.calculationMonth == "8") ? "selected" : "" %>>8</option>
                  <option value="9" <%=(query.calculationMonth == "9") ? "selected" : "" %>>9</option>
                  <option value="10" <%=(query.calculationMonth == "10") ? "selected" : "" %>>10</option>
                  <option value="11" <%=(query.calculationMonth == "11") ? "selected" : "" %>>11</option>
                  <option value="12" <%=(query.calculationMonth == "12") ? "selected" : "" %>>12</option>
                </select>
              </div>
              <div class="col-md-1">정산상태</div>
              <div class="col-md-3"><input type="text" name="calculationStatus" value="<%=query.calculationPriceStatus%>" class="form-control search_key"></div>
            </div>
            <div class="row">
              <div class="col-md-1">정산금액최소</div>
              <div class="col-md-3"><input type="text" name="calculationPriceMin" value="<%=query.calculationPriceMin%>" class="form-control search_key"></div>
              <div class="col-md-1">정산금액최대</div>
              <div class="col-md-3"><input type="text" name="calculationPriceMax" value="<%=query.calculationPriceMax%>" class="form-control search_key"></div>
            </div>
            <div class="row search_submit_wrap">
              <button class="btn search_submit">검색</button>
              <a href="list" class="btn search_submit search_reset">초기화</a>
            </div>
          </div>
        </form>
    </div>
  </div>

  <hr class="search_hr">

  <div class="card">
    <div class="card-body">
      <div style="margin-left: 3%; margin-right: 3%;">
        <div class="row" style = "color: #008D87;">
          <div class="col-md-1"></div>
          <div class="col-md-5 text-center" style="margin: 0px 0px 5px 0px;">나의 정산계좌</div>
          <div class="col-md-5 text-center" style="margin: 0px 0px 5px 0px;">정산예정일</div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5 text-center"><%=store.accountInfo%> <%=store.accountBank%></div>
          <div class="col-md-5 text-center">15일</div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>

  <hr class="search_hr">

  <div class="card">
    <table class="table table-default table-hover table-striped">
      <thead>
        <th>정산번호</th>
        <th>정산연도</th>
        <th>정산월</th>
        <th>정산예정일</th>
        <th>정산완료일시</th>
        <th>정산상태</th>
        <th>정산금액</th>
      </thead>
      <tbody>
        <% %>
        <% for(var i=0; i<calculations.length;i++){
          var calculation = calculations[i];
          %>
          <tr>
            <td><a href="detail/<%=calculation.calculationNo%>"><%=calculation.calculationNo%></a></td>
            <td><%=calculation.calculationYear%></td>
            <td><%=calculation.calculationMonth%></td>
            <td><%=moment(calculation.calculationDueDate).format("YYYY-MM-DD")%></td>
            <td><%=moment(calculation.calcultaionDate).format("YYYY-MM-DD")%></td>
            <td><%=calculation.calculationStatus%></td>
            <td><%=calculation.calculationPrice%></td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</section>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var program =  $('#createForm').serializeObject();
    program.store = '<%=store.id%>';

    $.ajax({
      type:"POST",
      url:'/programs',
      data:program,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var programId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/programs/'+programId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
<script>
$(document).ready(function(){
  $('.sidebar .nav .active').removeClass('active');
  var path = "calculations-index" ;
  $('#'+path).addClass('active');
})
</script>
