<% include ../templates/head.ejs %>

<section>
  <div class="container-fluid">
    <p class="mb-3 subtitle">승마장의 정산내역 정보를 확인할 수 있습니다</p>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">나의 정산계좌</div>
        <div class="col-md-4">정산예정일</div>
        <div class="col-md-4">정산 기간 검색</div>
      </div>
      <div class="row">
        <div class="col-md-4"><%=store.accountInfo%> <%=store.accountBank%></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">나중에 넣을게요</div>
      </div>
    </div>
  </div>
  <div class="card">
    <table class="table table-default table-hover table-striped">
      <thead>
        <th>정산번호</th>
        <th>정산연도</th>
        <th>정산월</th>
        <th>정산예정일</th>
        <th>정산완료일시</th>
        <th>정산상태</th>
        <th>정산금액</th>
      </thead>
      <tbody>
        <% %>
        <% for(var i=0; i<calculations.length;i++){
          var calculation = calculations[i];
          %>
          <tr>
            <td><%=calculation.calculationNo%></td>
            <td><%=calculation.calculationYear%></td>
            <td><%=calculation.calculationMonth%></td>
            <td><%=moment(calculation.calculationDueDate).format("YYYY-MM-DD")%></td>
            <td><%=moment(calculation.calcultaionDate).format("YYYY-MM-DD")%></td>
            <td><%=calculation.calculationStatus%></td>
            <td><%=calculation.calculationPrice%></td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</section>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var program =  $('#createForm').serializeObject();
    program.store = '<%=store.id%>';

    $.ajax({
      type:"POST",
      url:'/programs',
      data:program,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var programId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/programs/'+programId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
<script>
$(document).ready(function(){
  $('.sidebar .nav .active').removeClass('active');
  var path = "calculations-index" ;
  $('#'+path).addClass('active');
})
</script>
