<% include ../templates/header.ejs %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <form id="editForm">
        <div class="col-md-8"> <!--왼쪽 스케줄 상세정보-->
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>정산번호</label>
                    <p class="form-control-static"><%=calculation.calculationNo%></p>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label>정산금액</label>
                    <input type="text" class="form-control" name="calculation.calculationPrice" value="<%=calculation.calculationPrice%>">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>정산연도</label>
                    <p class="form-control-static"><%=calculation.calculationYear%></p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>정산월</label>
                    <p class="form-control-static"><%=calculation.calculationMonth%></p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>정산기한</label>
                    <p class="form-control-static"><%=moment(calculation.calculationDueDate).format("YYYY-MM-DD")%></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>정산상태</label>
                    <select class="form-control" name="calculationStatus">
                      <option value="정산대기" <%=(calculation.calculationStatus == "정산대기") ? "selected" : ""%>>정산대기</option>
                      <option value="정산완료" <%=(calculation.calculationStatus == "정산완료") ? "selected" : ""%>>정산완료</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label>정산날짜</label>
                    <input type="date" name="calculationDate" value="<%=(calculation.calculationDate == "" || calculation.calculationDate == null) ? "" : moment(calculation.calculationDate).format("YYYY-MM-DD")%>" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"> <!--오른쪽 스케줄 상세정보-->
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>등록일</label>
                  <p class="form-control-static"><%=moment(calculation.createDate).format("YYYY-MM-DD")%></a></p>
                </div>
                <div class="form-group col-md-6">
                  <label>수정일</label>
                  <p class="form-control-static"><%=moment(calculation.updateDate).format("YYYY-MM-DD")%></p>
                </div>
              </div>
          </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="form-group col-md-12">
                  <label>승마장명</label>
                  <p class="form-control-static"><a href="../../stores/detail/<%=calculation.storeNo%>"><%=calculation.storeName%></a></p>
                </div>
                <div class="form-group col-md-12">
                  <label>입금은행</label>
                  <select class="form-control" name="accountBank">
                    <option value="신한은행" <%=(calculation.accountBank == "신한은행") ? "selected" : "" %>>신한은행</option>
                    <option value="우리은행" <%=(calculation.accountBank == "우리은행") ? "selected" : "" %>>우리은행</option>
                    <option value="국민은행" <%=(calculation.accountBank == "국민은행") ? "selected" : "" %>>국민은행</option>
                    <option value="하나은행" <%=(calculation.accountBank == "하나은행") ? "selected" : "" %>>하나은행</option>
                    <option value="기업은행" <%=(calculation.accountBank == "기업은행") ? "selected" : "" %>>기업은행</option>
                    <option value="SC제일은행" <%=(calculation.accountBank == "SC제일은행") ? "selected" : "" %>>SC제일은행</option>
                    <option value="수협" <%=(calculation.accountBank == "수협") ? "selected" : "" %>>수협</option>
                    <option value="농협" <%=(calculation.accountBank == "농협") ? "selected" : "" %>>농협</option>
                    <option value="산업은행" <%=(calculation.accountBank == "산업은행") ? "selected" : "" %>>산업은행</option>
                  </select>
                </div>
                <div class="form-group col-md-12">
                  <label>계좌번호</label>
                  <input type="text" class="form-control" name="accountInfo" value="<%=calculation.accountInfo%>">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <button id="editButton" type="button" class="btn btn-info btn-fill pull-right">저장</button>
            <a href="../list" type="button" class="btn btn-info pull-left">이전으로</a>
            <div class="clearfix"></div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#editButton').click(function(){
    var calculation =  $('#editForm').serializeObject();

    $.ajax({
      type:"PUT",
      url:'/apis/admin/calculation/<%=calculation.calculationNo%>',
      data:calculation,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
