<% include ../templates/header.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title"><%=title%>
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#createModal" data-backdrop="false">
              만들기
              </button>
            </h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>

          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>번호</th>
                <th>정산연도</th>
                <th>정산월</th>
                <th>정산기한</th>
                <th>정산날짜</th>
                <th>정산상태</th>
                <th>정산금액</th>
                <th>승마장명</th>
              </thead>
              <tbody>
                <% %>
                <% for(var i=0; i<calculations.length; i++){
                  var calculation = calculations[i];
                  %>
                <tr>
                  <td><a href="detail/<%=calculation.calculationNo%>"><%=calculation.calculationNo%></a></td>
                  <td><%=calculation.calculationYear%></td>
                  <td><%=calculation.calculationMonth%></td>
                  <td><%=moment(calculation.calculationDueDate).format("YYYY-MM-DD")%></td>
                  <td><%=moment(calculation.calculationDate).format("YYYY-MM-DD")%></td>
                  <td><%=calculation.calculationStatus%></td>
                  <td><%=calculation.calculationPrice%></td>
                  <td><%=calculation.storeName%></td>
                </tr>
                <% }%>
              </tbody>
            </table>
          </div>
        </div>

        <!--new-->

        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var user =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/users',
      data: {
        user: user
      },
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var userId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/users/'+userId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
