<% include ../templates/head.ejs %>
<div class="row row-full-height bg-white" >
  <div class="col-3  drop-shadow  bg-light" style="padding-right:0;">
    <div class="card">
      <div class="card-header">
        <%=qnas.length%>개의 문의가 있습니다.
      </div>
      <ul class="list-group list-group-flush">
        <% for(var i=0; i<qnas.length; i++){
          var qna = qnas[i];
        %>
          <li class="list-group-item bg-light">
            <a href="/newowners/qnas/detail/<%=qna.id%>?storeId=<%=store.id%>">
            <div class="media">
              <div class="media-body">
                <h5 class="mt-0"><%=qna.qnaTitle%></h5>
                <p><%=qna.qnaText%><p>
                <small class="float-right"><%=(qna.qnaWriter!=undefined) ? (qna.qnaWriter.username) : "탈퇴한 사용자"%>님, <%=qna.created_at%></small>
              </div>
            </div>
            </a>
          </li>


        <% }%>
      </ul>
    </div>
  </div>
  <div class="col row row-direction-col">
    <div class="container-fluid col" >

    </div>


  </div>

</div>
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('.replyButton').click(function(){
    var form = $(this).closest('form');
    var qna =  form.serializeObject();
    qna.store = '<%=store.id%>';

    qna.qnaWriter = '<%=store.owner%>';
    if(qna.qnaWriter =='') qna.qnaWriter = '59e46a7acfd9ae07de8d69f0';
    qna.qnaType="reply";

    $.ajax({
      type:"POST",
      url:'/qnas',
      data:qna,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  // $('.deleteButton').click(function(){
  //   var qnaId = $(this).data("item");
  //   $.ajax({
  //     type:"DELETE",
  //     url:'/qnas/'+qnaId,
  //
  //     success:function(args){
  //       alert("성공했습니다.");
  //       location.reload();
  //     },
  //     error:function(e){
  //         alert(e.responseText);
  //     }
  //   });
  // });
});
$(document).ready(function(){
  $('.sidebar .nav .active').removeClass('active');
  var path = "reviews-qnas" ;
  $('#'+path).addClass('active');
  $('#reviews').addClass('open')
})
</script>
