<% include ../templates/head.ejs %>
<!--   <div class="container-fluid"> -->
<h4 class="my-3">공지사항을 간편하게 수정하여, 원하는 사항을 빠르게 전달하세요.</h4>
<div class="card">
<table class="table table-hover table-striped">
  <thead class="thead-control">
    <th>전체보기</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <!--
    <th>ID</th>
    <% var keys = Object.keys(schema); %>

    <th>공지제목</th>
    <th>공지내용</th>
    <th>작성자</th>
    <th>작성일</th>
    <th>수정일</th> -->

  </thead>
  <tbody class="tbody-control">
    <% %>
    <% for(var i=0; i<notices.length; i++){
      var notice = notices[i];
      %>
      <tr>
        <td><%=i%></td>

        <td><a href="/owners/notices/detail/<%=notice.id%>"><%=notice['noticeTitle']%></a></td>
        <td><%=notice['noticeText']%></td>
        <td><%=(notice['noticeWriter'] != null) ? notice['noticeWriter'].username : notice['noticeWriter']%></td>
        <td><%=notice['created_at']%></td>
        <td><%=notice['updated_at']%></td>

      </tr>
    <% }%>
  </tbody>
</table>
</div>
<!-- </div> -->
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var notice =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/notices',
      data:notice,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var noticeId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/notices/'+noticeId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
