<% include ../templates/header.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title"><%=title%>
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#createModal" data-backdrop="false">
              만들기
              </button></h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>

          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>번호</th>
                <th>프로그램명</th>
                <th>승마장명</th>
                <th>가격</th>
                <th>시간</th>
                <th>등록일</th>
                <th>찜개수</th>
                <th>후기개수</th>
              </thead>
              <tbody>
                <% %>
                <% for(var i=0; i<programs.length; i++){
                  var program = programs[i];
                  %>
                <tr>
                  <td><%=program.programNo%></td>
                  <td><a href="detail/<%=program.programNo%>"><%=program.programName%></a></td>
                  <td><%=program.storeName%></td>
                  <td><%=program.programPrice%></td>
                  <td><%=program.programTime%></td>
                  <td><%=moment(program.createDate).format("YYYY-MM-DD")%></td>
                  <td><%=program.zzimCount%></td>
                  <td><%=program.reviewCount%></td>
                </tr>
                <% }%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var program =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/programs',
      data:program,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var programId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/programs/'+programId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
