<% include ../templates/header.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="card"> <!--검색-->
      <div class="content">
        <form action="" method="get">
          <div class="row">
            <div class="col-md-3">
              <label>프로그램명</label>
              <input type="text" name="programName" value="<%=query.programName%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>승마장명</label>
              <input type="text" name="storeName" value="<%=query.storeName%>" class="form-control search_key">
            </div>
            <div class="col-md-2">
              <label>최소시간</label>
              <input type="text" name="programTimeMin" value="<%=query.programTimeMin%>" class="form-control search_key">
            </div>
            <div class="col-md-2">
              <label>최대시간</label>
              <input type="text" name="programTimeMax" value="<%=query.programTimeMax%>" class="form-control search_key">
            </div>
            <div class="col-md-2">
              <label>노출여부</label>
              <select name="showYn" class="form-control">
                <option value="1">노출</option>
                <option value="0">노출안함</option>
              </select>
          </div>

          </div>
          <div class="row">
            <div class="col-md-3 pull-left">
              <button class="btn search_submit">검색</button>
              <a href="list" class="btn search_submit search_reset">초기화</a>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="card"> <!--테이블-->
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>번호</th>
            <th>프로그램명</th>
            <th>승마장명</th>
            <th>가격</th>
            <th>시간</th>
            <th>등록일</th>
            <th>코치이름</th>
            <th>노출여부</th>
          </thead>
          <tbody>
            <% %>
            <% for(var i=0; i<programs.length; i++){
              var program = programs[i];
              %>
            <tr>
              <td><%=program.programNo%></td>
              <td><a href="detail/<%=program.programNo%>"><%=program.programName%></a></td>
              <td><%=program.storeName%></td>
              <td><%=program.programPrice%></td>
              <td><%=program.programTime%></td>
              <td><%=moment(program.createDate).format("YYYY-MM-DD")%></td>
              <td><%=program.coachName%></td>
              <td><%=(program.showYn == 1) ? "노출" : "노출안함" %></td>
            </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var program =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/programs',
      data:program,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var programId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/programs/'+programId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
