<% include ../templates/head.ejs %>

<section>
  <div class="container-fluid">
    <p class="mb-3 subtitle">예약내역에서 전체 예약건을 쉽고 빠르게 조회할 수 있습니다</p>
  </div>
  <div class="card">
    <div class="card-body">
      <form action="" method="get">
         <input type="hidden" name="storeId" value="<%=store._id%>"><!--필수-->
         <%
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();

              if(dd<10) {
                dd='0'+dd
                }
              if(mm<10) {
                mm='0'+mm
                }

                today = yyyy + '-' +mm + '-' +dd;
          %>
          <!--검색파트css : search_opt, search_btn, search_submit -->
          <div style="margin-left: 3%; margin-right: 3%; font-size: 80%; font-color: #434343;">
           <!--날짜 검색 테이블-->
           <div class="row" style="margin-bottom: 1.5%;">
            <div class="col-md-1">예약일</div>
            <div class="col-md-5 search_cal_group">
              <i class="pe-7s-date"></i>
              <input type="date" name="createDateMin" class="search_calendar" value="<%=query.createDateMin%>">
              <span style="margin-right:5px; margin-left: 5px;">ㅡ</span>
              <i class="pe-7s-date"></i>
              <input type="date" name="createDateMax" class="search_calendar" value="<%=query.createDateMax = today%>">
            </div>

            <!-- <div class="col-md-1">이용예정일</div>
            <div class="col-md-5 search_cal_group">
              <i class="pe-7s-date"></i>
              <input type="date" name="scheduleDateMin" class="search_calendar" value="<%=query.scheduleDateMin%>">
              <span style="margin-right:5px; margin-left: 5px;">ㅡ</span>
              <i class="pe-7s-date"></i>
              <input type="date" name="scheduleDateMax" class="search_calendar" value="<%=query.scheduleDateMax = today%>">
           </div> -->
          </div>

          <div class="row">
            <div class="col-md-1">스케줄날짜</div>
            <div class="col-md-5 search_cal_group">
              <i class="pe-7s-date"></i>
              <input type="date" name="scheduleDateMin" class="search_calendar" value="<%=query.scheduleDateMin%>">
              <span style="margin-right:5px; margin-left: 5px;">ㅡ</span>
              <i class="pe-7s-date"></i>
              <input type="date" name="scheduleDateMax" class="search_calendar" value="<%=query.scheduleDateMax = today%>">
           </div>

           <div class="col-md-1">스케줄시간</div>
           <div class="col-md-5 search_cal_group">
             <i class="pe-7s-clock"></i>
             <input type="time" name="scheduleTimeMin" class="search_calendar" value="<%=query.scheduleTimeMin%>">
             <span style="margin-right:5px; margin-left: 5px;">ㅡ</span>
             <i class="pe-7s-clock"></i>
             <input type="time" name="scheduleTimeMax" class="search_calendar" value="<%=query.scheduleTimeMax%>">
           </div>
         </div>

          <hr class="search_hr">
          <!--조건 검색 테이블-->
          <div style="color: #7d7d7d; margin-bottom: 15px; font-size: 80%;">상세조건검색</div>
          <div class="row" style="margin-bottom: 1.5%;">
            <div class="col-md-1">예약자명</div>
            <div class="col-md-3"><input type="text" name="reservationName" value="<%=query.reservationName%>" class="form-control search_key"></div>
            <div class="col-md-1">프로그램명</div>
            <div class="col-md-3"><input type="text" name="programName" value="<%=query.programName%>" class="form-control search_key"></div>
            <div class="col-md-1">예약번호</div>
            <div class="col-md-3"><input type="text" name="reservationCode" value="<%=query.reservationCode%>" class="form-control search_key"></div>
          </div>

          <div class="row">
            <div class="col-md-1">번호뒷자리</div>
            <div class="col-md-3"><input type="text" name="reservationPhoneNumber" value="<%=query.reservationPhoneNumber%>" class="form-control search_key"></div>
            <div class="col-md-1">예약상태</div>
            <div class="col-md-3"><input type="text" name="reservationStatus" value="<%=query.reservationStatus%>" class="form-control search_key"></div>
          </div>

          <div class="row">
            <div class="col-md-10"></div> <!--검색버튼을 위한 그냥 공백-->
            <div class="col-md-2" style="align-items: right;">
              <p align="right">
                <button class="btn btn-success search_submit">검색</button>
                <a href="list" class="btn btn-success search_submit">초기화</a>
              </p>
            </div>
          </div>
          </div>
        </form>
    </div>
  </div>
  <div class="card" style="margin-bottom: 20px;">
    <table class="table table-default table-hover table-striped">
      <thead>
        <th>선택</th>
        <th>예약번호</th>
        <th>프로그램명</th>
        <th>스케줄날짜</th>
        <th>스케줄시간</th>
        <th>예약날짜</th>
        <th>이용완료여부</th>
        <th>이용완료일시</th>
        <th>예약자명</th>
        <th>예약자 전화번호</th>
        <th>예약인원</th>
        <th>예약상태</th>
      </thead>
      <tbody>
        <% %>
        <% for(var i=0; i<reservations.length; i++){
          var reservation = reservations[i];
          %>
          <tr>
            <td><%=(i+1)%></td>

            <td><%=reservation.reservationCode%></td>
            <td><%=reservation.programName%></td>
            <td><%=moment(reservation.scheduleDate).format("YYYY-MM-DD")%></td>
            <td><%=reservation.scheduleTime%></td>
            <td><%=moment(reservation.createDate).format("YYYY-MM-DD HH:mm:ss")%></td>
            <td><%=reservation.checkYn%></td>
            <td><%=moment(reservation.checkDate).format("YYYY-MM-DD HH:mm:ss")%></td>
            <td><%=reservation.reservationName%></td>
            <td><%=reservation.reservationPhoneNumber%></td>
            <td><%=reservation.reservationAmount%></td>
            <td><%=reservation.reservationStatus%></td>

          </tr>
        <% }%>
      </tbody>
    </table>
  </div>
</section>

<% include ../templates/bottom.ejs %>

<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var reservation =  $('#createForm').serializeObject();
    reservation.store = '<%=store.id%>';

    $.ajax({
      type:"POST",
      url:'/reservations',
      data:reservation,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var reservationId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/reservations/'+reservationId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
