
<% include ../templates/header.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="card"> <!--검색-->
      <div class="content">
        <form action="" method="get">
          <div class="row">
            <div class="col-md-3">
              <label>제목</label>
              <input type="text" name="bannerTitle" value="<%=query.bannerTitle%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>등록일(부터)</label>
              <input type="date" name="createDateMin" value="<%=query.createDate%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>등록일(까지)</label>
              <input type="date" name="createDateMax" value="<%=query.createDate%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>공개여부</label>
              <select class="form-control search_key" name="showYn">
                <option value="1">공개</option>
                <option value="0">비공개</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 pull-left">
              <button class="btn search_submit">검색</button>
              <a href="list" class="btn search_submit search_reset">초기화</a>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="card">
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>번호</th>
            <th>제목</th>
            <th>상세</th>
            <th>URL</th>
            <th>등록일</th>
            <th>공개여부</th>
            <th>노출순서</th>
          </thead>
          <tbody>
            <% %>
            <% for(var i=0; i<banners.length; i++){
              var banner = banners[i];
              %>
              <tr>
                <td><%=banner.bannerNo%></td>
                <td><a href="detail/<%=banner.bannerNo%>"><%=banner.bannerTitle%></a></td>
                <td><%=banner.bannerDescription%></td>
                <td><%=banner.bannerUrl%></td>
                <td><%=moment(banner.createDate).format("YYYY-MM-DD")%></td>
                <td><%=(banner.showYn == "1") ? "공개" : "비공개"%></td>
                <td><%=banner.showSeq%></td>
              </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>

    <a href="../banners/add"><button type="button" class="btn btn-primary pull-left">만들기</button></a>

  </div>
</div>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var banner =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/banners',
      data: {
        banner: banner
      },
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var bannerId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/banners/'+bannerId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
