<% include ../templates/header.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title"><%=title%>
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#createModal" data-backdrop="false">
              만들기
              </button></h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>

          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>전체</th>
                <th>가맹점</th>
                <th>노출여부</th>
              </thead>
              <tbody>
                <% %>
                <% for(var i=0; i<notices.length; i++){
                  var notice = notices[i];
                  %>
                <tr>
                  <td><%=notice.noticeNo%></td>
                  <td><a href="detail/<%=notice.noticeNo%>"><%=notice.noticeTitle%></a></td>
                  <td><%=notice.userName%></td>
                  <td><%=notice.createDate%></td>
                  <td><%=(notice.noticeNormalYn == 1) ? "O" : "X"%></td>
                  <td><%=(notice.noticeOwnerYn == 1) ? "O" : "X"%></td>
                  <td><%=notice.showYn%></td>
                </tr>
                <% }%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var notice =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/notices',
      data:notice,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var noticeId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/notices/'+noticeId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
