<% include ../templates/head.ejs %>

<section style="background-color: #fafafa;">
  <div class="container-fluid">
    <p class="mb-3 subtitle">승마장 정보를 간편하게 관리할 수 있습니다</p>
  </div>
  <div class="card" style="margin-bottom: 20px;">
    <form id="infoForm">
      <table class="table table-default table-bordered">
        <thead>
          <th style="color : #008d87; text-align : left;">승마장 정보</th>
          <th></th>
        </thead>
        <tbody>
            <tr>
              <td class="info-head">승마장 이름</td>
              <td class="info-info"><%=store.storeName%></td>
            </tr>
            <tr>
              <td class="info-head">주소1</td>
              <td class="info-info"><input type="text" name="storeAddress1" value="<%=store.storeAddress1%>" class="info-input"></td>
            </tr>
            <tr>
              <td class="info-head">주소2</td>
              <td class="info-info"><input type="text" name="storeAddress2" value="<%=store.storeAddress2%>" class="info-input"></td>
            </tr>
            <tr>
              <td class="info-head">주소3</td>
              <td class="info-info"><input type="text" name="storeAddress3" value="<%=store.storeAddress3%>" class="info-input"></td>
            </tr>
            <tr>
              <td class="info-head">사이트</td>
              <td class="info-info"><input type="text" name="storeWebsite" value="<%=store.storeWebsite%>" class="info-input"></td>
            </tr>
            <tr>
              <td class="info-head">SNS</td>
              <td class="info-info"><input type="text" name="storeInstagram" value="<%=store.storeInstagram%>" class="info-input"></td>
            </tr>
            <tr>
              <td class="info-head">전화번호</td>
              <td class="info-info"><input type="text" name="storePhoneNumber" value="<%=store.storePhoneNumber%>" class="info-input"></td>
            </tr>
            <tr>
              <td class="info-head">이용시간</td>
              <td class="info-info"><textarea name="storeOperationTime" rows="3" cols="100" placeholder="<%=store.storeOperationTime%>" value="<%=store.storeOperationTime%>" class="info-text"></textarea></td>
            </tr>
            <tr>
              <td class="info-head">소개</td>
              <td class="info-info"><textarea name="storeDescription" rows="3" cols="100" placeholder="<%=store.storeDescription%>" value="<%=store.storeDescription%>" class="info-text"></textarea></td>
            </tr>
            <tr>
              <td class="info-head">상세소개</td>
              <td class="info-info"><textarea name="storeContents" rows="5" cols="100" placeholder="<%=store.storeContents%>" value="<%=store.storeContents%>" class="info-text"></textarea></td>
            </tr>
            <tr>
              <td class="info-head">오시는 길 (차량)</td>
              <td class="info-info"><textarea name="storeWayCar" rows="3" cols="100" placeholder="<%=store.storeWayCar%>" value="<%=store.storeWayCar%>" class="info-text"></textarea></td>
            </tr>
            <tr>
              <td class="info-head">오시는 길 (대중교통)</td>
              <td class="info-info"><textarea name="storeWayPublic" rows="3" cols="100" placeholder="<%=store.storeWayPublic%>" value="<%=store.storeWayPublic%>" class="info-text"></textarea></td>
            </tr>
            <tr>
              <td class="info-head">오시는 길 (셔틀버스)</td>
              <td class="info-info"><textarea name="storeWayShuttle" rows="3" cols="100" placeholder="<%=store.storeWayShuttle%>" value="<%=store.storeWayShuttle%>" class="info-text"></textarea></td>
            </tr>
            <tr>
              <td class="info-head">후기개수</td>
              <td class="info-info"><%=store.reviewCount%></td>
            </tr>
            <tr>
              <td class="info-head">조회수</td>
              <td class="info-info"><%=store.viewCount%></td>
            </tr>
            <tr>
              <td class="info-head">사용자평균평점</td>
              <td class="info-info"><%=store.reviewScore%></td>
            </tr>
            <tr>
              <td class="info-head">사업자번호</td>
              <td class="info-info"><%=store.registerNo%></td>
            </tr>
            <tr>
              <td class="info-head">승마장신고여부</td>
              <td class="info-info"><%=store.registerNo%></td>
            </tr>
            <tr>
              <td class="info-head">보험사</td>
              <td class="info-info"><%=store.ensureCorp%></td>
            </tr>
            <tr>
              <td class="info-head">입금은행</td>
              <td class="info-info"><input type="text" name="accountBank" value="<%=store.accountBank%>" placeholder="입금은행" class="info-input"></td>
            </tr>
            <tr>
              <td class="info-head">계좌정보</td>
              <td class="info-info"><input type="text" name="accountInfo" value="<%=store.accountInfo%>" placeholder="계좌정보" class="info-input"></td>
            </tr>
            <tr>
              <td class="info-head">통장사본 이미지</td>
              <td class="info-info"><input type="text" name="accountImage" value="<%=store.accountImage%>" placeholder="" class="info-input"></td>
            </tr>
        </tbody>
      </table>
      <div class="card-body">
        <button class="btn btn-warning search_submit" style="width : 130px;" id="saveButton"> 정보 저장 </button>
      </div>
    </form>
  </div>
</section>

<% include ../templates/bottom.ejs %>

<script>
  $(document).ready(function(){
  $('#saveButton').click(function(){
    var store =  $('#infoForm').serializeObject();
    $.ajax({
      type:"PUT",
      url:'/apis/web/store/<%=store.storeNo%>',
      data:store,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
