<% include ../templates/header.ejs %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <form id="editForm">
        <div class="col-md-8"> <!--왼쪽 스케줄 상세정보-->
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>질문번호</label>
                    <p class="form-control-static"><%=faq.faqNo%></p>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label>제목</label>
                    <input type="text" class="form-control" name="faq.faqTitle" value="<%=faq.faqTitle%>">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>질문내용</label>
                    <textarea name="faqQuestion" rows="5" class="form-control" value="<%=faq.faqQuestion%>"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>질문답변</label>
                    <textarea name="faqQuestion" rows="5" class="form-control" value="<%=faq.faqAnswer%>"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"> <!--오른쪽 스케줄 상세정보-->
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>등록일</label>
                  <p class="form-control-static"><%=moment(faq.createDate).format("YYYY-MM-DD")%></a></p>
                </div>
                <div class="form-group col-md-6">
                  <label>수정일</label>
                  <p class="form-control-static"><%=(faq.updateDate != null || faq.updateDate != "" ) ? "N/N" : moment(faq.updateDate).format("YYYY-MM-DD")%></p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label>노출여부</label>
                  <select class="form-control" name="showYn">
                    <option value="1">노출</option>
                    <option value="0">노출안함</option>
                  </select>
                </div>
                <div class="form-group col-md-12">
                  <label>노출순서</label>
                  <input type="text" name="showSeq" value="<%=faq.showSeq%>" class="form-control">
                </div>
                <div class="form-group col-md-12">
                  <label>조회수</label>
                  <p class="form-control-static"><%=faq.viewCount%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <button id="editButton" type="button" class="btn btn-info btn-fill pull-right">저장</button>
            <a href="../list" type="button" class="btn btn-info pull-left">이전으로</a>
            <div class="clearfix"></div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#editButton').click(function(){
    var faq =  $('#editForm').serializeObject();

    $.ajax({
      type:"PUT",
      url:'/apis/admin/faq/<%=faq.faqNo%>',
      data:faq,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
