<% include ../templates/header.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">FAQ
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#createModal" data-backdrop="false">
              만들기
              </button></h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>

          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>번호</th>
                <th>제목</th>
                <th>작성일</th>
                <th>수정일</th>
                <th>노출여부</th>
                <th>노출순서</th>
                <th>조회수</th>
              </thead>
              <tbody>
                <% %>
                <% for(var i=0; i<faqs.length; i++){
                  var faq = faqs[i];
                  %>
                  <tr>
                    <td><%=faq.faqNo%></td>
                    <td><a href="detail/<%=faq.faqNo%>"><%=faq.faqTitle%></a></td>
                    <td><%=moment(faq.createDate).format("YYYY-MM-DD")%></td>
                    <td><%=moment(faq.updateDate).format("YYYY-MM-DD")%></td>
                    <td><%=faq.showYn%></td>
                    <td><%=faq.showSeq%></td>
                    <td><%=faq.viewCount%></td>
                  </tr>
                <% }%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var faq =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/faqs',
      data:faq,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var faqId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/faqs/'+faqId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
