<% include ../templates/header.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="card"> <!--검색-->
      <div class="content">
        <form action="" method="get">
          <div class="row">
            <div class="col-md-3">
              <label>사용자명</label>
              <input type="text" name="userName" value="<%=query.userName%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>예약코드</label>
              <input type="text" name="reservationCode" value="<%=query.reservationCode%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>타입</label>
              <input type="text" name="paymentType" value="<%=query.paymentType%>" class="form-control search_key">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>결제일자(부터)</label>
              <input type="text" name="paymentDateMin" value="<%=query.paymentDateMin%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>결제일자(까지)</label>
              <input type="text" name="paymentDateMax" value="<%=query.paymentDateMax%>" class="form-control search_key">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 pull-left">
              <button class="btn search_submit">검색</button>
              <a href="list" class="btn search_submit search_reset">초기화</a>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="card">
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>결제번호</th>
            <th>사용자명</th>
            <th>예약코드</th>
            <th>결제금액</th>
            <th>결제일자</th>
            <th>타입</th>
          </thead>
          <tbody>
            <% %>
            <% for(var i=0; i<payments.length; i++){
              var payment = payments[i];
              %>
              <tr>
                <td><a href="detail/<%=payment.paymentNo%>"><%=payment.paymentNo%></a></td>
                <td><%=payment.userName%></td>
                <td><%=payment.reservationCode%></td>
                <td><%=payment.paymentPrice%></td>
                <td><%=moment(payment.paymentDate).format("YYYY-MM-DD")%></td>
                <td><%=payment.paymentType%></td>
              </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var payment =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/payments',
      data: {
        payment: payment
      },
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var paymentId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/payments/'+paymentId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
