<!doctype html>
<html lang="en">
  <head>
    <title>손님용 페이지</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="/stylesheets/customers.style.css" rel="stylesheet" />
    <style>
      section{
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand fixed-top navbar-light bg-white">
      <!-- <a class="navbar-brand" href="/">Ride High</a> -->
      <div class="container" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item col">
            <a class="nav-link" href="/customers/home?userId=<%=user._id%>">홈 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item col active">
            <a class="nav-link" href="/customers/stores/list?userId=<%=user._id%>">내주변 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item col">
            <a class="nav-link" href="/customers/coupons/list?userId=<%=user._id%>">검색</a>
          </li>
          <li class="nav-item col">
            <a class="nav-link" href="/customers/coupons/list?userId=<%=user._id%>">이용권</a>
          </li>
          <li class="nav-item col">
            <a class="nav-link" href="/customers/users/mypage?userId=<%=user._id%>">내정보</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
