<% include ../templates/header.ejs %>

<div class="content">
  <div class="container-fluid">
    <div class="card"> <!--검색-->
      <div class="content">
        <form action="" method="get">
          <div class="row">
            <div class="col-md-3">
              <label>승마장명</label>
              <input type="text" name="storeName" value="<%=query.storeName%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>대표명</label>
              <input type="text" name="storeOwner" value="<%=query.storeOwner%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>전화번호</label>
              <input type="text" name="storePhoneNumber" value="<%=query.storePhoneNumber%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>주소</label>
              <input type="text" name="storeAddress" value="<%=query.storeAddress%>" class="form-control search_key">
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 pull-left">
              <button class="btn search_submit">검색</button>
              <a href="list" class="btn search_submit search_reset">초기화</a>
            </div>
          </div>
        </form>
      </div>

    </div>

    <div class="card"> <!--테이블-->
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>번호</th>
            <th>승마장명</th>
            <th>대표명</th>
            <th>전화번호</th>
            <th>주소</th>
            <th>등록일</th>
            <th>후기개수</th>
            <th>조회수</th>
            <th>찜개수</th>

          </thead>
          <tbody>
            <% %>
            <% for(var i=0; i<stores.length; i++){
              var store = stores[i];
              %>
              <tr>
                <td><%=store.storeNo%></td>
                <td>
                  <a href="detail/<%=store.storeNo%>"><%=store.storeName%></a>
                </td>
                <td><%=store.storeOwner%></td>
                <td><%=store.storePhoneNumber%></td>
                <td><%=store.storeAddress1%></td>
                <td><%=moment(store.createDate).format("YYYY-MM-DD")%></td>
                <td><%=store.reviewCount%></td>
                <td><%=store.viewCount%></td>
                <td><%=store.zzimCount%></td>

              </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>

    <a href="../stores/add"><button type="button" class="btn btn-primary pull-left">만들기</button></a>

  </div>
</div>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('.deleteButton').click(function(){
    var storeId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/stores/'+storeId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
