<% include ../templates/head.ejs %>
<section style="padding-top: 60px; background-color: #fafafa;">
  <div class="jumbotron jumbotron-fluid" style=" background-color: salmon;">
    <div class="container text-white text-center" style="padding: 0px 15px;">
        <img src="/images/faces/face-0.jpg" class="rounded-circle mx-auto d-block my-3" alt="..." style="width: 100px;">
        <h3 style=""><%=user.username%>님<h3>
    </div>
  </div>
  <div class="container">
    <div class="card mb-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="/customers/users/reservations/list?userId=<%=query.userId%>">예약 내역</a>
        </li>
        <li class="list-group-item">
          <a href="/customers/users/coupons/list?userId=<%=query.userId%>">내 이용권</a>
        </li>
        <li class="list-group-item">
          내 문의 내역
        </li>
      </ul>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        내 예약
      </div>
      <div class="card-body">
        <%if(reservations.length>0){%>
          <%var reservation = reservations[0]%>
          <h5><%=reservation.store.storename%></h5>
          <%=reservation.program.programname%><br>
          <%=reservation.reservationDate.getFullYear()%>년 <%=(reservation.reservationDate.getMonth()+1)%>월 <%=reservation.reservationDate.getDate()%>일
          <%=reservation.program.time.start_at%>
        <%}%>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        내 이용권
      </div>
      <div class="card-body">
        <%if(user.coupons.length>0){%>
          <%var coupon = user.coupons[0] %>
          <%=coupon.coupon.couponname%>
          <br><small class="text-secondary"><%=coupon.expireAt.getFullYear()%>년 <%=(coupon.expireAt.getMonth()+1)%>월 <%=coupon.expireAt.getDate()%>일에 만료</small>
        <%}%>
      </div>
    </div>
  </div>
</section>
<% include ../templates/bottom.ejs %>
