<% include ../templates/head.ejs %>
<section style="background-color: #fafafa; padding-top: 70px;">
  <div class="container">
    <div class="card mb-3" style="width: 100%;">
      <img class="card-img-top" src="<%=headers[0].headerImg%>" alt="Card image cap">
      <div class="card-body">
        <div class="row">
          <div class="" style="width: 100px;">
          </div>
          <div class="col">
            <h5 class="card-title text-primary"><%=user.username%>님</h5>
            <p class="card-text"><%=user.carrots%></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">말랑이 추천하는 승마장</h5>
        <div class="row">
          <%for (recommend of recommends){%>
            <%let store = recommend.recommendID%>
            <div class="flex-1 text-white" style="padding: 30px 15px; text-align: center;background-image: url(<%=store.image%>); background-size: cover; background-position:center;height: 100px; margin: 0 10px;">
              <%=store.storename%>
            </div>
          <%}%>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">quicmenus</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card mb-3" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">banners</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>
</section>
<% include ../templates/bottom.ejs %>
<script>

</script>
