<% include ../templates/header.ejs %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <form id="editForm">
        <div class="col-md-8"> <!--왼쪽 스케줄 상세정보-->
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>예약코드</label>
                    <p class="form-control-static"><%=reservation.reservationCode%></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>사용자명</label>
                    <p class="form-control-static"><%=reservation.userName%></p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>사용자번호</label>
                    <p class="form-control-static"><%=reservation.userNo%></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>예약자명</label>
                    <input name="reservationName" type="text" class="form-control" placeholder="예약자명" value="<%=reservation.reservationName%>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>예약자 전화번호</label>
                    <input name="reservationPhoneNumber" type="text" class="form-control" placeholder="전화번호" value="<%=reservation.reservationPhoneNumber%>">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>예약인원</label>
                    <input name="reservationAmount" type="text" class="form-control" placeholder="예약인원" value="<%=reservation.reservationAmount%>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>예약상태</label>
                    <input name="reservationStatus" type="text" class="form-control" value="<%=reservation.reservationStatus%>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>이용완료여부</label>
                    <p class="form-control-static"><%= (reservation.checkYn == 0) ? "N" : moment(reservation.checkDate).format("YYYY-MM-DD") %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"> <!--오른쪽 스케줄 상세정보-->
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>등록일</label>
                  <p class="form-control-static"><%=moment(reservation.createDate).format("YYYY-MM-DD")%></p>
                </div>
                <div class="form-group col-md-6">
                  <label>수정일</label>
                  <p class="form-control-static"><%=moment(reservation.updateDate).format("YYYY-MM-DD")%></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="form-group col-md-12">
                  <label>승마장명</label>
                  <p class="form-control-static"><a href="../../stores/detail/<%=reservation.storeNo%>"><%=reservation.storeName%></a></p>
                </div>
                <div class="form-group col-md-12">
                  <label>프로그램명</label>
                  <p class="form-control-static"><a href="../../programs/detail/<%=reservation.programNo%>"><%=reservation.programName%></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <button id="editButton" type="button" class="btn btn-info btn-fill pull-right">저장</button>
            <a href="../list" type="button" class="btn btn-info pull-left">이전으로</a>
            <div class="clearfix"></div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#editButton').click(function(){
    var reservation =  $('#editForm').serializeObject();

    $.ajax({
      type:"PUT",
      url:'/apis/admin/reservation/<%=reservation.reservationNo%>',
      data:reservation,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
