<% include ../templates/header.ejs %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <form id="editForm">
        <div class="col-md-8"> <!--왼쪽 스케줄 상세정보-->
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>스케줄 번호</label>
                    <p class="form-control-static"><%=schedule.scheduleNo%></p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>승마장명</label>
                    <p class="form-control-static"><a href="../../stores/detail/<%=schedule.storeNo%>"><%=schedule.storeName%></a></p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>프로그램명</label>
                    <p class="form-control-static"><a href="../../programs/detail/<%=schedule.programNo%>"><%=schedule.programName%></a></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>날짜</label>
                    <input name="scheduleDate" type="date" class="form-control" placeholder="YYYY-MM-DD" value="<%=moment(schedule.scheduleDate).format("YYYY-MM-DD")%>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>시간</label>
                    <input name="scheduleTime" type="time" class="form-control" value="<%=schedule.scheduleTime%>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>진행시간(분)</label>
                    <p class="form-control-static"><%=schedule.programTime%></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>최소인원</label>
                    <input class="form-control" type="text" name="amountLimitMin" value="<%=schedule.amountLimitMin%>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>최대인원</label>
                    <input class="form-control" type="text" name="amountLimitMax" value="<%=schedule.amountLimitMax%>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>현재인원</label>
                    <p class="form-control-static"><%=schedule.amountNow%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"> <!--오른쪽 스케줄 상세정보-->
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>등록일</label>
                  <p class="form-control-static"><%=moment(schedule.createDate).format("YYYY-MM-DD")%></p>
                </div>
                <div class="form-group col-md-6">
                  <label>수정일</label>
                  <p class="form-control-static"><%=moment(schedule.updateDate).format("YYYY-MM-DD")%></p>
                </div>
                <div class="form-group col-md-12">
                  <label>공개여부</label>
                  <select class="form-control" name="showYn">
                    <option value="1">공개</option>
                    <option value="0">비공개</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <button id="editButton" type="button" class="btn btn-info btn-fill pull-right">저장</button>
            <a href="../list" type="button" class="btn btn-info pull-left">이전으로</a>
            <div class="clearfix"></div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#editButton').click(function(){
    var schedule =  $('#editForm').serializeObject();

    $.ajax({
      type:"PUT",
      url:'/apis/admin/schedule/<%=schedule.scheduleNo%>',
      data:schedule,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
