<% include ../templates/header.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title"><%=title%>
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#createModal" data-backdrop="false">
              만들기
              </button></h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>

          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>번호</th>
                <th>프로그램명</th>
                <th>날짜</th>
                <th>시간</th>
                <th>최소수량</th>
                <th>현재수량</th>
                <th>최대수량</th>
                <th>등록일</th>
              </thead>
              <tbody>
                <% %>
                <% for(var i=0; i<schedules.length; i++){
                  var schedule = schedules[i];
                  %>
                  <tr>
                    <td><%=schedule.scheduleNo%></td>
                    <td><a href="../program/detail/<%=schedule.programNo%>"><%=schedule.programName%></a></td>
                    <td><%=moment(schedule.scheduleDate).format("YYYY-MM-DD")%></td>
                    <td><%=schedule.scheduleTime%></td>
                    <td><%=schedule.amountLimitMin%></td>
                    <td><a href="detail/<%=schedule.scheduleNo%>"><%=schedule.amountNow%></a></td>
                    <td><%=schedule.amountLimitMax%></td>
                    <td><%=moment(schedule.createDate).format("YYYY-MM-DD")%></td>
                  </tr>
                <% }%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var schedule =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/apis/admin/schedules',
      data:schedule,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var scheduleId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/schedules/'+scheduleId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
