<% include ../templates/header.ejs %>

<div class="content">
  <div class="container-fluid">
    <div class="card"> <!--검색-->
      <div class="content">
        <form action="" method="get">
          <div class="row">
            <div class="col-md-3">
              <label>프로그램</label>
              <input type="text" name="programName" value="<%=query.programName%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>승마장명</label>
              <input type="text" name="storeName" value="<%=query.storeName%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>필요수량</label>
              <input type="text" name="amountNeed" value="<%=query.amountNeed%>" class="form-control search_key">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>날짜(부터)</label>
              <input type="date" name="scheduleDateMin" value="<%=query.scheduleDateMin%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>날짜(까지)</label>
              <input type="date" name="scheduleDateMax" value="<%=query.scheduleDateMax%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>시간(부터)</label>
              <input type="time" name="scheduleTimeMin" value="<%=query.scheduleTimeMin%>" class="form-control search_key">
            </div>
            <div class="col-md-3">
              <label>시간(까지)</label>
              <input type="time" name="scheduleTimeMax" value="<%=query.scheduleTimeMax%>" class="form-control search_key">
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 pull-left">
              <button class="btn search_submit">검색</button>
              <a href="list" class="btn search_submit search_reset">초기화</a>
            </div>
          </div>
        </form>
      </div>

    </div>

    <div class="card"> <!--테이블-->
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>스케줄번호</th>
            <th>프로그램명</th>
            <th>승마장명</th>
            <th>날짜</th>
            <th>시간</th>
            <th>최소수량</th>
            <th>현재수량</th>
            <th>최대수량</th>
            <th>등록일</th>

          </thead>
          <tbody>
            <% %>
            <% for(var i=0; i<schedules.length; i++){
              var schedule = schedules[i];
              %>
              <tr>
                <td><a href="detail/<%=schedule.scheduleNo%>"><%=schedule.scheduleNo%></a></td>
                <td><%=schedule.programName%></td>
                <td><%=schedule.storeName%></td>
                <td><%=moment(schedule.scheduleDate).format("YYYY-MM-DD")%></td>
                <td><%=schedule.scheduleTime%></td>
                <td><%=schedule.amountLimitMin%></td>
                <td><%=schedule.amountNow%></td>
                <td><%=schedule.amountLimitMax%></td>
                <td><%=moment(schedule.createDate).format("YYYY-MM-DD")%></td>
              </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>

    <a href="../schedules/add"><button type="button" class="btn btn-primary pull-left">만들기</button></a>

  </div>
</div>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var schedule =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/apis/admin/schedules',
      data:schedule,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var scheduleId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/schedules/'+scheduleId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
