<% include ../templates/head.ejs %>
<%
   var today = new Date();
   var dd = today.getDate();
   var mm = today.getMonth()+1; //January is 0!
   var yyyy = today.getFullYear();

     if(dd<10) {
       dd='0'+dd
       }
     if(mm<10) {
       mm='0'+mm
       }

       today = yyyy + '-' +mm + '-' +dd;
       _today = yyyy + '년 ' + mm + '월 ' + dd + '일';
 %>

<section>
  <div class="container-fluid">
    <p class="mb-3 subtitle">전체정보를 빠르게 확인해 보세요</p>
  </div>

  <div class="container-fluid">

    <form action="" method="get">
      <input type="hidden" name="storeId" value="<%=store._id%>"><!--필수-->
      <div class="card  dashboard_box" >
        <div class="card-header dashboard_box0">
          <%=_today%>
        </div>
        <div class="card-body">
          <div class="row dashboard_box1">
            <div class="col-sm-3">
              이용예정
            </div>
            <div class="col-sm-3">
              신규예약
            </div>
            <div class="col-sm-3">
              새로운 후기
            </div>
            <div class="col-sm-3">
              예정 스케줄
            </div>
          </div>

          <% %>
          <%
          // var t_reservation = 0; // 오늘 이용예정 건수
          // var n_reservation = 0; // 오늘 추가된 건수
          // var n_review = 0; // 오늘 추가된 후기
          // var t_schedule = 0; // 오늘 스케줄 건수

          // for(var i = 0; i<reservations.length;i++){
          //   if(moment(reservations[i].scheduleDate).format("YYYY-MM-DD") == today)
          //     t_reservation++;
          //   if(moment(reservations[i].createDate).format("YYYY-MM-DD") == today)
          //     n_reservation++;
          // }
          //
          // for(var i = 0; i<reviews.length;i++){
          //   if(moment(reviews[i].createDate).format("YYYY-MM-DD") == today)
          //     n_review++;
          // }
          //
          // for(var i = 0; i<schedules.length;i++){
          //   if(moment(schedules[i].scheduleDate).format("YYYY-MM-DD") == today)
          //     t_schedule++;
          // }
          %>

          <div class="row dashboard_box2">
            <div class="col-sm-3">
              <span class="dashboard_box_data"><%=t_reservation.reservationToday%></span>건
            </div>
            <div class="col-sm-3">
              <span class="dashboard_box_data"><%=n_reservation.reservationCount%></span>건
            </div>
            <div class="col-sm-3">
              <span class="dashboard_box_data"><%=n_review.reviewCount%></span>건
            </div>
            <div class="col-sm-3">
              <span class="dashboard_box_data"><%=n_schedule.scheduleToday%></span>건
            </div>
          </div>

        </div>
      </div>
    </form>


    <div class="row">
      <div class="col-md-6">
        <div class="card dashboard_box">
          <div class="card-header dashboard_table_title">
            일반공지
          </div>
          <table class="table table-hover">
            <tbody>
              <% %>
              <% for(var i=0; i<notices.length; i++){
                var notice = notices[i];
                if(notice.noticeNormalYn == 1){
              %>
              <tr>
                <td><a href="notices/detail/<%=notice.noticeNo%>"><%=notice.noticeTitle%></a></td>
              </tr>
              <%} }%>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card dashboard_box">
          <div class="card-header dashboard_table_title">
            가맹점 공지
          </div>
          <table class="table table-hover">
            <tbody>
              <% %>
              <% for(var i=0; i<notices.length; i++){
                var notice = notices[i];
                if(notice.noticeOwnerYn == 1){
              %>
              <tr>
                <td><a href="notices/detail/<%=notice.noticeNo%>"><%=notice.noticeTitle%></a></td>
              </tr>
              <%} }%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--gongji->

  <div class="card" style="margin-bottom: 20px;">
    <div class="container-fluid bg-white dashboard_box" >

    </div>

    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>

</section>

<% include ../templates/bottom.ejs %>
