<% include ../templates/head.ejs %>
<!-- Modal -->

  <!--통계페이지-->

<!--  <div class="container-fluid"> -->
<h2 class="my-3">전체 예약내역 조회는 예약건을 쉽고 빠르게 조회할 수 있습니다.</h2>
<div class="card">
  <div class="card-body">
    <form action="" method="get">
    <input type="hidden" name="storeId" value="<%=store._id%>"><!--필수-->

  <!--     <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="col-md-2">
              조회기간
            </div>
            <div class="col-md-6">
                <div>일간</div>
                <div>주간</div>
                <div>월간</div>
            </div>
            <div class="col-md-2">
              <input type="date" name="date_from" value="<%=query.date_from%>" class = "form-control form-control-width">
            </div>
            <div class="col-md-2">
              <button class="btn btn-success">검색</button>
            </div>
          </div>
          </div> -->
          <!--검색파트css : search_opt, search_btn, search_submit -->
          <div>
            <table width="80%" border="0">
              <tr>
                <td><select name="search_date" class="form-control form-control-width search_opt">
                        <option value="예약일">예약일</option>
                        <option value="이용일">이용일</option>
                      </select></td>
                <td align="center"><button class="search_btn btn btn-default form-control form-control-width">오늘</button></td>
                <td align="center"><button class="search_btn btn btn-default form-control form-control-width">3일</button></td>
                <td align="center"><button class="search_btn btn btn-default form-control form-control-width">1주일</button></td>
                <td align="center"><button class="search_btn btn btn-default form-control form-control-width">1개월</button></td>
                <td align="center"><button class="search_btn btn btn-default form-control form-control-width">3개월</button></td>
                <td class="search_seperate">ㅣ</td>
                <td>
                  <input type="date" name="date_from" value="<%=query.date_from%>" class = "search_calendar form-control form-control-width">
                </td>
                <td class="search_seperate">ㅡ</td>
                <td><input type="date" name="date_until" value="<%=query.date_until%>" class ="search_calendar form-control form-control-width"></td>
                <td></td>
              </tr>
              <tr>
                <td><select name="search_condition" class="form-control form-control-width search_opt">
                        <option value="예약일">상세조건</option>
                        <option value="이용일">예약번호</option>
                        <option value="이용일">예약자명</option>
                        <option value="이용일">확인번호</option>
                      </select></td>
                <td colspan="9"><input type="text" name="search_key" value="<%=query.search_key%>" class="search_bar form-control form-control-width"></td>
                <td align="center"><button class="btn btn-success search_submit">검색</button></td>
              </tr>
            </table>
            
            <!--수정전-->
<!--             <table>
                <tr>
                  <td><select placeholder="검색조건" name="search_condition" class="form-control form-control-width search_opt">
                        <option value="예약일">예약일</option>
                        <option value="이용일">이용일</option>
                      </select>
                  </td>
                  <td>
                    <button class="select_opt2 btn btn-default form-control form-control-width">오늘</button>
                      <button class="select_opt2 btn btn-default form-control form-control-width">3일</button>
                      <button class="select_opt2 btn btn-default form-control form-control-width">1주일</button>
                      <button class="select_opt2 btn btn-default form-control form-control-width">1개월</button>
                      <button class="select_opt2 btn btn-default form-control form-control-width">3개월</button>
                  </td>
                  <td><input type="date" name="date_from" value="<%=query.date_from%>" class = "select_opt2 form-control form-control-width">
                  </td>
                  <td rowspan="2"><button class="btn btn-success search_submit">검색</button></td>
                </tr>
                <tr>
                  <td><select placeholder="상세조건" class="form-control form-control-width select_opt">
                        <option value="예약번호" <%=(query.search_condition=="예약번호")? "selected" : ""%>>예약번호</option>
                        <option value="예약일시" <%=(query.search_condition=="예약일시")? "selected" : ""%>>예약일시</option>
                        <option value="예약상태" <%=(query.search_condition=="예약상태")? "selected" : ""%>>예약상태</option>
                        <option value="프로그램명" <%=(query.search_condition=="프로그램명")? "selected" : ""%>>프로그램명</option>
                        <option value="예약자명" <%=(query.search_condition=="예약자명")? "selected" : ""%>>예약자명</option>
                        <option value="전화번호" <%=(query.search_condition=="전화번호")? "selected" : ""%>>전화번호</option>
                      </select>
                  </td>
                  <td><input type="text" name="search_key" value="<%=query.search_key%>" class="select_opt form-control form-control-width"></td>
                  <td><input type="date" name="date_until" value="<%=query.date_until%>" class ="select_opt2 form-control form-control-width"></td>
                  <td></td>
                </tr>
            </table> -->
          </div>
        </div>

          <!--css등을 이용하여 버튼으로-->
          <!-- <input type="date" name="date_from" value="<%=query.date_from%>" class = "form-control form-control-width">
          <input type="date" name="date_until" value="<%=query.date_until%>" class = "form-control form-control-width">
        </div>
      </div>
    <div style="margin-top: 10px;">
      <ul style="display: block; float: right;">
        <button class="btn btn-success">검색</button>
      </ul>
      <select placeholder="상세조건" name="search_condition" class="form-control form-control-width">
        <option value="예약번호" <%=(query.search_condition=="예약번호")? "selected" : ""%>>예약번호</option>
        <option value="예약일시" <%=(query.search_condition=="예약일시")? "selected" : ""%>>예약일시</option>
        <option value="예약상태" <%=(query.search_condition=="예약상태")? "selected" : ""%>>예약상태</option>
        <option value="프로그램명" <%=(query.search_condition=="프로그램명")? "selected" : ""%>>프로그램명</option>
        <option value="예약자명" <%=(query.search_condition=="예약자명")? "selected" : ""%>>예약자명</option>
        <option value="전화번호" <%=(query.search_condition=="전화번호")? "selected" : ""%>>전화번호</option>
      </select>
      
      <input type="text" name="search_key" value="<%=query.search_key%>" class="form-control form-control-width"> -->
  </form>
</div> 
<div class="card" style="margin-bottom: 20px;">
  <table class="table table-default table-hover table-striped">
    <thead>
      <% var keys = Object.keys(schema); %>
      <th>선택</th>
      <th>예약번호</th>
      <th>예약일시</th>
      <th>이용예정일</th>
      <th>예약상태</th>
      <th>프로그램명</th>
      <th>인원</th>
      <th>예약자명</th>
      <th>전화번호</th>
      <th>고객메모</th>
    </thead>
    <tbody>
      <% %>
      <% for(var i=0; i<reservations.length; i++){
        var reservation = reservations[i];
        %>
        <tr>
          <td><%=(i+1)%></td>

          <td><%=reservation['_id']%>
          <td><%=reservation['created_at']%></td>
          <td><%=reservation['reservationDate']%></td>
          <td><%=reservation['status']%></td>

          <!-- 프로그램명 오류 -->
          <td><%=reservation['program']%></td>

          <td><%=reservation['howMany']%></td>

          <td><%=reservation['ownerName']%></td>

          <% var full= reservation['telephone']
             var lastfour = full.split('-'); %>

          <td><%=lastfour[2]%></td>
          <td><%=reservation['customer_memo']%></td>
          <!-- <td>
            <button data-item="<%=reservation.id%>" class="btn btn-danger btn-fill btn-sm deleteButton"><span class="fa fa-trash"></span></button>
            <a href="edit/<%=reservation.id%>" class="btn btn-info btn-fill btn-sm"><span class="fa fa-pencil"></span></button>
          </td>  -->
        </tr>
      <% }%>
    </tbody>
  </table>
</div>


<!--  <div class="col-md-2">
    <button data-item="<%=reservation.id%>" class="btn btn-danger btn-fill btn-sm deleteButton">
      <span class="fa fa-trash"> 선택삭제</span>
    </button>
  </div> -->
  
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var reservation =  $('#createForm').serializeObject();
    reservation.store = '<%=store.id%>';

    $.ajax({
      type:"POST",
      url:'/reservations',
      data:reservation,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var reservationId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/reservations/'+reservationId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
<script>
$(document).ready(function(){
  $('.sidebar .nav .active').removeClass('active');
  var path = "reservations-list" ;
  $('#'+path).addClass('active');
})
</script>
