<% include ../templates/head.ejs %>
<!-- Modal -->

  <!--통계페이지-->

 <!--<div class="container-fluid">-->
<h2 class="my-3">고객의 예약 후 이용내역을 한 눈에 확인 가능합니다.</h2>
<div class="card">
  <div class="card-body">
    <form action="" method="get">
       <input type="hidden" name="storeId" value="<%=store._id%>"><!--필수-->
        <!-- <div>
          조회기간
          <ul style="display: block; float: right;">일간</ul>
          <ul style="display: block; float: right;">주간</ul>
          <ul style="display: block; float: right;">월간</ul>
          <input class="form-control form-control-width" type="date" name="date-from" value="<%=query.date_from%>">
          <input class="form-control form-control-width" type="date" name="date-until" value="<%=query.date_until%>">
        </div>
        <div style="margin-top: 10px;">
          <ul style="display: block; float: right;">
            <button class="btn btn-success">검색</button>
          </ul>
          <select placeholder="상세조건" name="search_condition" class="form-control form-control-width">
            <option value="예약번호" <%=(query.search_condition=="예약번호")? "selected" : ""%>>예약번호</option>
            <option value="프로그램명" <%=(query.search_condition=="프로그램명")? "selected" : ""%>>프로그램명</option>
            <option value="예약자명" <%=(query.search_condition=="예약자명")? "selected" : ""%>>예약자명</option>
            <option value="전화번호" <%=(query.search_condition=="전화번호")? "selected" : ""%>>전화번호</option>
          </select>
          <input type="text" name="search_key" value="<%=query.search_key%>" class="form-control form-control-width">
        </div> -->
         <!--검색파트css : search_opt, search_btn, search_submit -->
            <div style="margin-left: 3%; margin-right: 3%; font-size: 80%; font-color: #434343;">
              <!--날짜 검색 테이블-->
              <div class="row">
                  <div class="col-md-1">예약일</div>
                  <div class="col-md-5 search_cal_group">
                    <i class="pe-7s-date"></i>
                    <input type="date" name="date_from" class="search_calendar">
                    <span style="margin-right:5px; margin-left: 5px;">ㅡ</span>     
                    <i class="pe-7s-date"></i>
                    <input type="date" name="date_until" class="search_calendar">
                  </div>
                  <div class="col-md-1">이용예정일</div>
                  <div class="col-md-5 search_cal_group">
                    <i class="pe-7s-date"></i>
                    <input type="date" name="date_from" class="search_calendar">
                    <span style="margin-right:5px; margin-left: 5px;">ㅡ</span>   
                    <i class="pe-7s-date"></i>
                    <input type="date" name="date_until" class="search_calendar">
                  </div>
              </div>
              
              <hr class="search_hr">
              <!--조건 검색 테이블-->
              <div style="color: #7d7d7d; margin-bottom: 15px; font-size: 80%;">상세조건검색</div>
              <div class="row" style="margin-bottom: 1.5%;">
                <div class="col-md-1">예약자명</div>
                <div class="col-md-3"><input type="text" name="sName" class="form-control search_key"></div>
                <div class="col-md-1">프로그램명</div>
                <div class="col-md-3"><input type="text" name="sProgram" class="form-control search_key"></div>
                <div class="col-md-1">예약번호</div>
                <div class="col-md-3"><input type="text" name="sProgram" class="form-control search_key"></div>
              </div>
              <div class="row">
                <div class="col-md-1">번호뒷자리</div>
                <div class="col-md-3"><input type="text" name="sLastNum" class="form-control search_key"></div>
              </div>
              <div class="row">
                <div class="col-md-10"></div> <!--검색버튼을 위한 그냥 공백-->
                <div class="col-md-2" style="align-items: right;">
                  <p align="right"><button class="btn btn-success search_submit">검색</button></p>
                </div>
              </div>
            </div>
<!--           <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-3">
                      <select placeholder="검색조건" name="search_condition" class="form-control form-control-width">
                          <option value="예약일">예약일</option>
                          <option value="이용일">이용일</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                       <button class="btn btn-default form-control form-control-width">오늘</button>
                        <button class="btn btn-default form-control form-control-width">3일</button>
                        <button class="btn btn-default form-control form-control-width">1주일</button>
                        <button class="btn btn-default form-control form-control-width">1개월</button>
                        <button class="btn btn-default form-control form-control-width">3개월</button>
                    </div>
                    <div class="col-md-2">
                        <input type="date" name="date_from" value="<%=query.date_from%>" class = "form-control form-control-width">
                    </div>
                  </div>
                </div>
              </div>

               <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-3">
                      <select placeholder="상세조건" class="form-control form-control-width">
                        <option>예약번호</option>
                        <option>예약일시</option>
                        <option>예약상태</option>
                        <option>프로그램명</option>
                        <option>예약자명</option>
                        <option>전화번호</option>
                      </select>
                    </div>
                    <div class="col-md-7">
                       <input type="text" name="search_key" value="<%=query.search_key%>" class="form-control form-control-width">
                    </div>
                    <div class="col-md-2">
                        <input type="date" name="date_until" value="<%=query.date_until%>" class = "form-control form-control-width">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-success">검색</button>
          </div> -->
        
  </form>
  </div>

</div>

<div class="card" style="margin-bottom: 20px;">
  <table class="table table-default table-hover table-striped">
    <thead>
      <% var keys = Object.keys(schema); %>
      <th>선택</th>
      <th>예약번호</th>
      <th>예약일시</th>
      <th>이용완료일</th>
      <th>프로그램명</th>
      <th>인원</th>
      <th>예약자명</th>
      <th>전화번호</th>
    </thead>
    <tbody>
      <% %>
      <% for(var i=0; i<reservations.length; i++){
        var reservation = reservations[i];
        %>
        <tr>
          <td><%=(i+1)%></td>

          <td><%=reservation['_id']%></td>
          <td><%=reservation['reservationDate']%></td>
          <td><%=reservation['checked_at']%></td>
          <td><%=reservation['program']%></td>
          <td><%=reservation['howMany']%></td>
          <td><%=reservation['ownerName']%></td>
          <td><%=reservation['telephone']%></td>

          <!-- <td>
            <button data-item="<%=reservation.id%>" class="btn btn-danger btn-fill btn-sm deleteButton"><span class="fa fa-trash"></span></button>
            <a href="edit/<%=reservation.id%>" class="btn btn-info btn-fill btn-sm"><span class="fa fa-pencil"></span></button> 
          </td> -->
        </tr>
      <% }%>
    </tbody>
  </table>
</div>


<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var program =  $('#createForm').serializeObject();
    program.store = '<%=store.id%>';

    $.ajax({
      type:"POST",
      url:'/programs',
      data:program,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var programId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/programs/'+programId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
<script>
$(document).ready(function(){
  $('.sidebar .nav .active').removeClass('active');
  var path = "reservations-usage" ;
  $('#'+path).addClass('active');
})
</script>
