<% include ../templates/head.ejs %>
<!-- Modal -->

  <!--통계페이지-->

 <!--<div class="container-fluid">-->
<h2 class="my-3">이용내역_고객의 예약 후 이용내역을 한 눈에 확인 가능합니다.</h2>
<div class="card">
  <div class="card-body">
    <form action="" method="get">
       <input type="hidden" name="storeId" value="<%=store._id%>"><!--필수-->
    <div>
      조회기간
      <ul style="display: block; float: right;">일간</ul>
      <ul style="display: block; float: right;">주간</ul>
      <ul style="display: block; float: right;">월간</ul>
      <!--css등을 이용하여 버튼으로-->
      <input class="form-control form-control-width" type="date" name="date-from" value="<%=query.date_from%>">
      <input class="form-control form-control-width" type="date" name="date-until" value="<%=query.date_until%>">
    </div>
    <div style="margin-top: 10px;">
      <ul style="display: block; float: right;">
        <button class="btn btn-success">검색</button>
      </ul>
      <select placeholder="상세조건" name="search_condition" class="form-control form-control-width">
        <option value="예약번호" <%=(query.search_condition=="예약번호")? "selected" : ""%>>예약번호</option>
        <option value="프로그램명" <%=(query.search_condition=="프로그램명")? "selected" : ""%>>프로그램명</option>
        <option value="예약자명" <%=(query.search_condition=="예약자명")? "selected" : ""%>>예약자명</option>
        <option value="전화번호" <%=(query.search_condition=="전화번호")? "selected" : ""%>>전화번호</option>
      </select>
      <input type="text" name="search_key" value="<%=query.search_key%>" class="form-control form-control-width">
    </div>
  </form>
  </div>

</div>

<div class="card" style="margin-bottom: 20px;">
  <table class="table table-default table-hover table-striped">
    <thead>
      <% var keys = Object.keys(schema); %>
      <th>선택</th>
      <th>예약번호</th>
      <th>예약일시</th>
      <th>이용완료일</th>
      <th>프로그램명</th>
      <th>인원</th>
      <th>예약자명</th>
      <th>전화번호</th>
      <th>작업</th>
    </thead>
    <tbody>
      <% %>
      <% for(var i=0; i<reservations.length; i++){
        var reservation = reservations[i];
        %>
        <tr>
          <td><%=i%></td>

          <td><%=reservation['_id']%></td>
          <td><%=reservation['reservationDate']%></td>
          <td><%=reservation['checked_at']%></td>
          <td><%=reservation['program'].programname%></td>
          <td><%=reservation['howMany']%></td>
          <td><%=reservation['ownerName']%></td>
          <td><%=reservation['telephone']%></td>

          <td>
            <!-- <button data-item="<%=reservation.id%>" class="btn btn-danger btn-fill btn-sm deleteButton"><span class="fa fa-trash"></span></button>
            <a href="edit/<%=reservation.id%>" class="btn btn-info btn-fill btn-sm"><span class="fa fa-pencil"></span></button> -->
          </td>
        </tr>
      <% }%>
    </tbody>
  </table>
</div>


<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var program =  $('#createForm').serializeObject();
    program.store = '<%=store.id%>';

    $.ajax({
      type:"POST",
      url:'/programs',
      data:program,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var programId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/programs/'+programId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
<script>
$(document).ready(function(){
  $('.sidebar .nav .active').removeClass('active');
  var path = "reservations-usage" ;
  $('#'+path).addClass('active');
})
</script>
