<% include ../templates/head.ejs %>

<section>
  <div class="container-fluid">
    <p class="mb-3 subtitle">프로그램을 간편하게 등록하고 관리할 수 있습니다</p>
  </div>

  <div class="card" style="margin-bottom: 20px;">
    <table class="table table-default table-hover table-bordered">
      <thead>
        <th style="color : #008d87; text-align : left;">가맹점 공지 세부</th>
        <th></th>
      </thead>
      <tbody>
          <tr>
            <td class="info-head">공지제목</td>
            <td class="info-info"><%=notice.noticeTitle%></td>
          </tr>
          <tr>
            <td class="info-head">공지내용</td>
            <td class="info-info"><%=notice.noticeContents%></td>
          </tr>
          <tr>
            <td class="info-head">작성자</td>
            <td class="info-info"><%=notice.noticeWriter%></td>
          </tr>
          <tr>
            <td class="info-head">등록일</td>
            <td class="info-info"><%=moment(notice.createDate).format("YYYY-MM-DD HH:mm:ss")%></td>
          </tr>
          <tr>
            <td class="info-head">최종수정일</td>
            <td class="info-info"><%=(notice.updateDate == null || notice.updateDate == "") ? "" : moment(notice.updateDate).format("YYYY-MM-DD HH:mm:ss")%></td>
          </tr>
      </tbody>
    </table>
  </div>

  <a href="../list" type="button" class="btn search_submit search_reset" style="width : 130px;">이전으로</a>

</section>

<% include ../templates/bottom.ejs %>
