<% include ../templates/head.ejs %>

<section>
  <div class="container-fluid">
    <p class="mb-3 subtitle"></p>
  </div>

  <div class="card" style="margin-bottom: 20px;">
    <table class="table table-default table-hover table-bordered">
      <thead>
        <th><a style="color: #008d87;"><%=review.reviewNo%></a> 번 후기 상세</th>
      </thead>
      <tbody>
          <tr>
            <td class="info-head">예약코드</td>
            <td class="info-info"><%=review.reservationCode%></td>
          </tr>
          <tr>
            <td class="info-head">프로그램명</td>
            <td class="info-info"><%=review.programName%></td>
          </tr>
          <tr>
            <td class="info-head">스케줄 날짜/시간</td>
            <td class="info-info"><%=moment(review.scheduleDate).format("YYYY-MM-DD")%> <%=review.scheduleTime%></td>
          </tr>
          <tr>
            <td class="info-head">후기내용</td>
            <td class="info-info"><%=review.reviewContents%></td>
          </tr>
          <tr>
            <td class="info-head">평점</td>
            <td class="info-info"><%=review.reviewScore%></td>
          </tr>
          <tr>
            <td class="info-head">사용자명</td>
            <td class="info-info"><%=review.userName%></td>
          </tr>
          <tr>
            <td class="info-head">후기작성날짜</td>
            <td class="info-info"><%=moment(review.createDate).format("YYYY-MM-DD HH:mm:ss")%></td>
          </tr>
          <tr>
            <td class="info-head">최종수정일</td>
            <td class="info-info"><%=(review.updateDate == null || review.updateDate == "") ? "" : moment(review.updateDate).format("YYYY-MM-DD HH:mm:ss")%></td>
          </tr>
          <tr>
            <td class="info-head">후기노출여부</td>
            <td class="info-info"><%=(review.showYn == 1) ? "노출" : "노출안함"%></td>
          </tr>
          <tr>
            <td class="info-head">사진1</td>
            <td class="info-info"><%=review.reviewPic1%></td>
          </tr>
          <tr>
            <td class="info-head">사진2</td>
            <td class="info-info"><%=review.reviewPic2%></td>
          </tr>
          <tr>
            <td class="info-head">사진3</td>
            <td class="info-info"><%=review.reviewPic3%></td>
          </tr>
          <tr>
            <td class="info-head">사진4</td>
            <td class="info-info"><%=review.reviewPic4%></td>
          </tr>
          <tr>
            <td class="info-head">사진5</td>
            <td class="info-info"><%=review.reviewPic5%></td>
          </tr>
      </tbody>
    </table>
  </div>
</section>

<% include ../templates/bottom.ejs %>
