<% include ../templates/head.ejs %>

<section>
  <div class="container-fluid">
    <p class="mb-3 subtitle">
      <a style="color: #008d87;"><%=reviews.length%></a> 개의 후기가 있습니다
    </p>
  </div>
  <div class="card" style="margin-bottom: 20px;">
    <table class="table table-default table-hover table-bordered">
      <thead>
        <th>후기번호</th>
        <th>예약번호</th>
        <th>후기내용</th>
        <th>평점</th>
        <th>사용자번호</th>
        <th>작성날짜</th>
        <th>수정날짜</th>
        <th>후기노출여부</th>
        <th>사진</th>
      </thead>
      <tbody>
        <% for(var i=0; i<reviews.length; i++){
          var review = reviews[i];
          %>
        <tr>
          <td><%=review.reviewNo%></td>
          <td><%=review.reservationNo%></td>
          <td><%=review.reviewContents%></td>
          <td><%=review.reviewScore%></td>
          <td><%=review.userNo%></td>
          <td><%=review.createDate%></td>
          <td><%=review.updateDate%></td>
          <td><%=review.showYn%></td>
          <td><%=review.Pic1%> <%=review.Pic2%> <%=review.Pic3%></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('.replyButton').click(function(){
    var form = $(this).closest('form');
    var review =  form.serializeObject();
    review.store = '<%=store.id%>';

    review.reviewWriter = '<%=store.owner%>';
    if(review.reviewWriter =='') review.reviewWriter = '59e46a7acfd9ae07de8d69f0';
    review.reviewType="reply";

    $.ajax({
      type:"POST",
      url:'/reviews',
      data:review,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  // $('.deleteButton').click(function(){
  //   var reviewId = $(this).data("item");
  //   $.ajax({
  //     type:"DELETE",
  //     url:'/reviews/'+reviewId,
  //
  //     success:function(args){
  //       alert("성공했습니다.");
  //       location.reload();
  //     },
  //     error:function(e){
  //         alert(e.responseText);
  //     }
  //   });
  // });
});
</script>
<script>
$(document).ready(function(){
  $('.sidebar .nav .active').removeClass('active');
  var path = "reviews-usages" ;
  $('#'+path).addClass('active');
})
</script>
