<% include ../templates/head.ejs %>

<section>
  <div class="container-fluid">
    <p class="mb-3 subtitle">
      <a style="color: #008d87;"><%=reviews.length%></a> 개의 후기가 있습니다
    </p>
  </div>
  <div class="card">
    <div class="card-body">
      <form action="" method="get">
        <input type="hidden" name="storeId" value="<%=store._id%>"><!--필수-->
        <%
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();

              if(dd<10) {
                dd='0'+dd
                }
              if(mm<10) {
                mm='0'+mm
                }

                today = yyyy + '-' +mm + '-' +dd;
          %>
          <!--검색파트 css : search_opt, search_btn, search_submit -->
          <div style="margin-left: 3%; margin-right: 3%; font-size: 80%; font-color: #434343;">
            <div class="row">
             <div class="col-md-1">작성일</div>
             <div class="col-md-5 search_cal_group">
               <i class="pe-7s-date"></i>
               <input type="date" name="createDateMin" class="search_calendar" value="<%=query.createDateMin%>">
               <span style="margin-right:5px; margin-left: 5px;">ㅡ</span>
               <i class="pe-7s-date"></i>
               <input type="date" name="createDateMax" class="search_calendar" value="<%=query.createDateMax%>">
             </div>
             <div class="col-md-1"><button class="btn btn-success search_submit">검색</button></div>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div class="card" style="margin-bottom: 20px;">
    <table class="table table-default table-hover table-bordered">
      <thead>
        <th>후기번호</th>
        <th>예약번호</th>
        <th>후기내용</th>
        <th>평점</th>
        <th>사용자번호</th>
        <th>작성날짜</th>
        <th>수정날짜</th>
        <th>후기노출여부</th>
        <th>사진</th>
      </thead>
      <tbody>
        <% for(var i=0; i<reviews.length; i++){
          var review = reviews[i];
          %>
        <tr>
          <td><%=review.reviewNo%></td>
          <td><%=review.reservationNo%></td>
          <td><%=review.reviewContents%></td>
          <td><%=review.reviewScore%></td>
          <td><%=review.userNo%></td>
          <td><%=moment(review.createDate).format("YYYY-MM-DD")%></td>
          <td><%=(review.updateDate == null || review.updateDate == "") ? "" : moment(review.updateDate).format("YYYY-MM-DD")%></td>
          <td><%=(review.showYn == '1') ? "노출" : "노출안함"%></td>
          <td><%=review.Pic1%> <%=review.Pic2%> <%=review.Pic3%></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('.replyButton').click(function(){
    var form = $(this).closest('form');
    var review =  form.serializeObject();
    review.store = '<%=store.id%>';

    review.reviewWriter = '<%=store.owner%>';
    if(review.reviewWriter =='') review.reviewWriter = '59e46a7acfd9ae07de8d69f0';
    review.reviewType="reply";

    $.ajax({
      type:"POST",
      url:'/reviews',
      data:review,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  // $('.deleteButton').click(function(){
  //   var reviewId = $(this).data("item");
  //   $.ajax({
  //     type:"DELETE",
  //     url:'/reviews/'+reviewId,
  //
  //     success:function(args){
  //       alert("성공했습니다.");
  //       location.reload();
  //     },
  //     error:function(e){
  //         alert(e.responseText);
  //     }
  //   });
  // });
});
</script>
<script>
$(document).ready(function(){
  $('.sidebar .nav .active').removeClass('active');
  var path = "reviews-usages" ;
  $('#'+path).addClass('active');
})
</script>
