<% include ../templates/header.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title"><%=title%>
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#createModal" data-backdrop="false">
              만들기
              </button></h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">프로그램 등록</h4>
                </div>
                <div class="modal-body">
                  <div class="content">
                    <form id="createForm" action="/programs" method="POST">
                      <div class="row">

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>프로그램명</label>
                            <input name="programname" type="text" class="form-control" placeholder="프로그램명" value="">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>소개</label>
                            <input name="introduction" type="text" class="form-control" placeholder="소개" value="">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>승마장</label>
                            <input name="store" type="text" class="form-control" placeholder="승마장명" value="">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">

                           <label for="programType">타입</label><br>

                            <select name="programType" id="programType" class="form-control">
                              <option value="체험일반">체험일반</option>
                              <option value="체험고급">체험고급</option>
                              <option value="자유기승">자유기승</option>
                            </select>

                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>시작시각(시)</label>
                            <input name="time.start.hours" type="text" class="form-control" placeholder="시작시각(시)" value="">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>시작시각(분)</label>
                            <input name="time.start.minutes" type="text" class="form-control" placeholder="시작시각(분)" value="">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>진행시간</label>
                            <input name="time.howLong" type="text" class="form-control" placeholder="진행시간" value="">
                          </div>
                        </div>

                                         
                      </div>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="createButton">저장</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>ID</th>
                <% var keys = Object.keys(schema)%>


                <th>프로그램명</th>
                <th>소개</th>
                <th>승마장명</th>
                <th>타입</th>
                <th>시작시간</th>
                <th>진행시간</th>
                <th>예약</th>

                <th>작업</th>

              </thead>
              <tbody>
                <% %>
                <% for(var i=0; i<programs.length; i++){
                  var program = programs[i];
                  %>
                  <tr>
                    <td><%=i%></td>

                    <td><%=program['programname']%></td>
                    <td><%=program['introduction']%></td>
                    <td><%=(program.store!=null) ? program.store.storename : program.store%></td>
                    <td><%=program['programType']%></td>
                    <td><%=program['time'].start_at%></td>
                    <td><%=program['time'].howLong%></td>
                    <td><%=program['reservations']%></td>

                    <td>
                      <button data-item="<%=program.id%>" class="btn btn-danger btn-fill btn-sm deleteButton"><span class="fa fa-trash"></span></button>
                      <a href="edit/<%=program.id%>" class="btn btn-info btn-fill btn-sm"><span class="fa fa-pencil"></span></button>
                    </td>
                  </tr>
                <% }%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var program =  $('#createForm').serializeObject();
    $.ajax({
      type:"POST",
      url:'/programs',
      data:program,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
  $('.deleteButton').click(function(){
    var programId = $(this).data("item");
    $.ajax({
      type:"DELETE",
      url:'/programs/'+programId,

      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
